{% extends '_blank.html' %} {% block qux_content %}
<h3 style="text-align: center">1E9 Asset Types</h1>
<div class="container">
  <div class="row my-2">
    {% for asset in assettypes %}
    <div class="col d-flex justify-content-center">
      <a href="{% url 'management:show_info' %}?type={{asset.types}}">
        <button class="btn btn-primary">{{asset.types}}</button>
      </a>
    </div>
    {% endfor %}
  </div>
  <h3 style="text-align: center">Operations</h1>
  <div class="row my-2">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'management:asset' %}">
        <button class="btn btn-primary">Insert Asset</button></a
      >
    </div>
    <div class="col d-flex justify-content-center">
      <a href="{% url 'management:accessory' %}">
        <button class="btn btn-primary">Insert Accessory</button></a
      >
    </div>
    <div class="col d-flex justify-content-center">
      <a href="{% url 'management:user' %}">
        <button class="btn btn-primary">Insert User</button></a
      ><br />
    </div>
  </div>
  <div class="row my-2">
    <div class="col d-flex justify-content-center">
      <a href="{% url 'management:userlist' %}"
        ><button class="btn btn-primary">List Users</button></a
      >
    </div>
  </div>
</div>
{% endblock %}
