{% extends '_blank.html' %} {%block qux_content%}
<style>
  td,
  th {
    padding: 20px;
    spacing: 10px;
  }
  h3 {
    text-align: center;
    padding: 30px;
  }
</style>
<h3>Accessories</h3>
<div class="row">
<div class="col d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h4 class="card-title d-flex justify-content-center">{{type}}</h4>
    <hr>
    <ul class="list-group list-group-flush">
      {% for y in asset %}
      {% for k,v in y.items %}
      <li class="list-group-item"><b>{{k}}</b>: {{v}}</li>
      {% endfor %}
      {% endfor %}
    </ul>
  </div>
</div>
</div>
<div class="col">
<div class="d-flex justify-content-center">
  <a href="{% url 'management:accessory' pk%}">
    <button class="btn btn-primary m-2">Insert Accessory</button></a
  >
</div>
{% if parts %}
<div class="container">
  <div class="row">
    <div class="col">
      <table style="margin-left: auto; margin-right: auto; text-align: center">
        <tr>
          {% for k in header %}
          <th>{{k}}</th>
          {% endfor %}
          <th colspan=2>Actions</th>
        </tr>
        {% for as in parts %}
        <tr>
          <td>{{as.id}}</td>
          <td>{{as.accessory_type}}</td>
          <td>{{as.asset}}
          <td>{{as.model_no}}</td>
          <td>
            <a href="{% url 'management:delaccessory' as.id %}">
              <button class="btn btn-primary">Delete</button></a
            >
          </td>
          <td>
            <a href="{% url 'management:upaccessory' as.id %}">
              <button class="btn btn-primary">Update</button></a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
</div></div>
{% else %}
<h3>{{message}}</h3>
{%endif%}
{%endblock%}
