{% extends '_blank.html' %} {%block qux_content%}
<style>
  td,
  th {
    padding: 20px;
    spacing: 10px;
    border: solid;
  }
  h3 {
    text-align: center;
    padding: 30px;
  }
</style>
<h3>Accessories</h3>
{% if parts %}
<div class="container">
  <div class="row">
    <div class="col">
      <table style="margin-left: auto; margin-right: auto; text-align: center">
        <th colspan="9">Accessory Information</th>
        <tr>
          {% for k in header %}
          <td>{{k}}</td>
          {% endfor %}
          <td>Delete</td>
          <td>Update</td>
        </tr>
        {% for as in parts %}
        <tr>
          <td>{{as.id}}</td>
          <td>{{as.accessory_type}}</td>
          <td>{{as.asset}}
          <td>{{as.model_no}}</td>
          <td>
            <a href="{% url 'management:delasset' as.id %}">
              <button class="btn btn-primary">Delete Accessory</button></a
            >
          </td>
          <td>
            <a href="{% url 'management:upasset' as.id %}">
              <button class="btn btn-primary">Update Accessory</button></a
            >
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% else %}
<h3>{{message}}</h3>
{%endif%}
{%endblock%}
