{% extends '_blank.html' %} {%block qux_content%}
<style>
  td,
  th {
    padding: 20px;
    spacing: 10px;
    {% comment %} border: solid; {% endcomment %}
  }
  h3 {
    text-align: center;
    padding: 30px;
  }
</style>
<h3>Available Assets</h3>
<div class="d-flex justify-content-center ">
  <a href="{% url 'management:asset' %}">
    <button class="btn btn-primary m-2">Insert Asset</button></a
  ><a href="{% url 'management:typesofasset' %}">
    <button class="btn btn-primary m-2">Insert Type of Asset</button>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <table style="margin-left: auto; margin-right: auto; text-align: left">
        <tr>
          {% for k in header %}
          <th>{{k}}</th>
          {% endfor %}
          {% comment %} <th>Delete</th>
          <th>Update</th>
          <th>Accessories</th> {% endcomment %}
        </tr>
        {% for as in asset %}
        <tr>
          <td>{{as.id}}</td>
          <td>{{as.types}}</td>
          <td>{{as.model_no}}</td>
          <td>{{as.brand}}</td>
          <td>{{as.user}}</td>
          <td style="text-align: right">{{as.price}}</td>
          <td>
            <a href="{% url 'management:delasset' as.id %}">
              <button class="btn btn-primary">Delete Asset</button></a
            >
          </td>
          <td>
            <a href="{% url 'management:upasset' as.id %}">
              <button class="btn btn-primary">Update Asset</button></a
            >
          </td>
          <td>
            <a href="{% url 'management:shoaccessories' as.id %}">
              <button class="btn btn-primary">View Accessories</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{%endblock%}
