{% extends '_blank.html' %} {% block qux_content %}
{%if message == "Access Denied"%}
<div class="container d-flex justify-content-center p-3"><h4>{{message}}</h4></div>
  <div class="container d-flex justify-content-center p-3">
    <input type="button" value="Go Back" style="margin:15px" onclick="history.back()"></div>
  {%else%}
  <div class="row">
    <div class="col"></div>
<div class="col d-flex justify-content-center pt-5" style = "width:30%;margin:20px;padding:20px;">
  <form method="post">
    {% csrf_token %}
    <table class="table table-borderless">
      {{ form.as_table }}
    </table>
  </div>
  <div class="col"></div>
</div>
<div class="container d-flex justify-content-center p-3"><h4>{{message}}</h4></div>
<div class="row"><div class="col"></div>
  <div class="col d-flex justify-content-center p-3">
    <input class="btn btn-primary m-2" type="submit" value="Submit" style="margin:15px">
    <input class="btn btn-primary m-2" type="button" value="Cancel" style="margin:15px" onclick="history.back()">
  </div><div class="col"></div>
  </form>
  {%endif%}
{% endblock %}
