{% extends '_blank.html' %} {%block qux_content%}
<style>
  td,
  th {
    padding: 20px;
    spacing: 10px;
    border: solid;
  }
  h3 {
    text-align: center;
    padding: 30px;
  }
</style>
<h3>Available Assets</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <table style="margin-left: auto; margin-right: auto; text-align: center">
        <th colspan="9">Asset Information</th>
        <tr>
          {% for k in header %}
          <td>{{k}}</td>
          {% endfor %}
          <td>Delete</td>
          <td>Update</td>
          <td>Accessories</td>
        </tr>
        {% for as in asset %}
        <tr>
          <td>{{as.id}}</td>
          <td>{{as.types}}</td>
          <td>{{as.model_no}}</td>
          <td>{{as.brand}}</td>
          <td>{{as.user}}</td>
          <td>{{as.price}}</td>
          <td>
            <a href="{% url 'management:delasset' as.id %}">
              <button class="btn btn-primary">Delete Asset</button></a
            >
          </td>
          <td>
            <a href="{% url 'management:upasset' as.id %}">
              <button class="btn btn-primary">Update Asset</button></a
            >
          </td>
          <td>
            <a href="{% url 'management:shoaccessories' %}?pk={{as.id}}">
              <button class="btn btn-primary">View Accessories</button>
            </a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{%endblock%}
